.SalesNavMain {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding: 10px;
	margin: 20px;
	height: 5%;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.SalesNavMainHome {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 26px;
}

.SalesMainNav__about,
.SalesMainNav__products,
.SalesMainNav__featured,
.SalesMainNav__contact {
	font-size: 20px;
	margin-top: 5px;
}

.SearchIcon {
	width: 2rem;
}

.CartIcon {
	width: 2rem;
}
