.homeMain {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.homeMain img {
	height: 50%;
	width: 100%;
	align-items: center;
}

.introTextContainer p {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px 20px;
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	color: black;
}

.reviewCarouselContainer {
	height: 10%;
}

/* Med Styling */

@media (min-width: 700px) {
	.homeMain {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	.homeMain img {
		height: 100%;
		width: 100%;
	}

	.introTextContainer p {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px 20px;
		font-family: 'Libre Baskerville', serif;
		font-size: 20px;
		color: black;
	}

	.reviewCarouselContainer {
		height: 10%;
	}
}

@media (min-width: 1200px) {
	/* Flex Container 2 */
	.homeMain {
		border-top: 1px solid gray;
		height: 100vh;
		width: 100vw;
	}

	.homeMain img {
		height: 100%;
		width: 100%;
	}

	.introTextContainer p {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px 20px;
		font-family: 'Libre Baskerville', serif;
		font-size: 20px;
		color: black;
	}

	.reviewCarouselContainer {
		height: 10%;
	}
}

@media (min-width: 1700px) {
	/* Flex Container 2 */
	.homeMain {
		border-top: 1px solid gray;
		height: 100vh;
		width: 100vw;
	}

	.homeMain img {
		height: 100%;
		width: 100%;
	}

	.introTextContainer p {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 10px 20px;
		font-family: 'Libre Baskerville', serif;
		font-size: 20px;
		color: black;
	}

	.reviewCarouselContainer {
		height: 10%;
	}
}
