.ContactMain {
	border-top: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 10px;
	height: 100vh;
	line-height: 2;
	font-size: 25px;
}
