.mainFooter {
	width: 100%;
	position: relative;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	padding: 40px;
}

.newsletter {
	font-size: 22px;
	padding-left: 12px;
}
.copyright {
	font-size: 16px;
}
